<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAGi9S_JAL_gUB7Jgiw-rixdn_jw8SoNuE</string>
	<key>GCM_SENDER_ID</key>
	<string>624268864963</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fReddit.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>f-reddit-e0bd1</string>
	<key>STORAGE_BUCKET</key>
	<string>f-reddit-e0bd1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:624268864963:ios:2c046358f50dfa8090a176</string>
</dict>
</plist>